# Data Science Tools and Ecosystem

## Author
Bryan R. Burnham

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- Create ordered and unordered lists in Jupyter Notebook
- Create a simple, one column table in Jupyter Notebook
- Identify several commonly-used data science languages
- Create siple code for arithmatic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Seaborn
4. Scipy
5. Tensorflor

| Data Science Tools |
| ------------------ |
| Hadoop |
| Spark |
| ggplot2 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
# "This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335